<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657575446527-ug7kg8cas19g04fuaa9897r3pdq2fumq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657575446527-ug7kg8cas19g04fuaa9897r3pdq2fumq</string>
	<key>API_KEY</key>
	<string>AIzaSyDcQzWxKyOoTsr6xhTK0D_5GkrTcG8pP40</string>
	<key>GCM_SENDER_ID</key>
	<string>657575446527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.com.pna.app</string>
	<key>PROJECT_ID</key>
	<string>pna-project</string>
	<key>STORAGE_BUCKET</key>
	<string>pna-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657575446527:ios:024b8a305c49a8f0de89ca</string>
	<key>DATABASE_URL</key>
	<string>https://pna-project.firebaseio.com</string>
</dict>
</plist>